.home {
  height: 100%;
  overflow: auto;
  //position: relative;
  &__button{
    &-input {
      position: fixed;
      bottom: 60px;
      right: 50%;
      margin-right: -400px;
      z-index: 900;
    }
  }
}

.notes {
  padding: 18px 20px;
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}